# PostgreSQL Database Connection String
# Example: postgresql://user:password@host:port/dbname
DATABASE_URL=""

# A secret key for signing JWTs. Generate a strong key for production.
# Use `openssl rand -hex 32` to generate one.
SECRET_KEY="your-super-secret-key"

# JWT Algorithm
ALGORITHM="HS256"

# Token expiration time in minutes
ACCESS_TOKEN_EXPIRE_MINUTES=43200 # 30 days

# Google OAuth2 Client ID
GOOGLE_CLIENT_ID=""

# Frontend URL for CORS configuration
FRONTEND_URL="http://localhost:5173"
